<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fci.steps.cuhm">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.fci.steps.cuhm.MainActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditprofileActivity"
            android:label="Edit Profile"
            android:parentActivityName="com.fci.steps.cuhm.RegisterActivity" />
        <activity
            android:name="com.fci.steps.cuhm.LoginActivity"
            android:configChanges="screenSize|orientation"></activity>
        <activity
            android:name="com.fci.steps.cuhm.RegisterActivity"
            android:configChanges="screenSize|orientation"
            android:parentActivityName="com.fci.steps.cuhm.LoginActivity" />
        <activity
            android:name="com.fci.steps.cuhm.ForgetPasswordActivity"
            android:label="Forget Password"
            android:parentActivityName="com.fci.steps.cuhm.LoginActivity" />
        <activity
            android:name="com.fci.steps.cuhm.ProfileActivity"
            android:parentActivityName="com.fci.steps.cuhm.MainActivity"/>
        <activity android:name="com.fci.steps.cuhm.TrackerActivity" />
        <activity android:name="com.fci.steps.cuhm.MapsActivity" />
        <activity android:name="com.fci.steps.cuhm.RequestRouteActivity" />
        <activity android:name="com.fci.steps.cuhm.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.fci.steps.cuhm.TrackerService"
            android:enabled="true"
            android:exported="true" />
        <service android:name="com.fci.steps.cuhm.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.fci.steps.cuhm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.fci.steps.cuhm.ActivitySendPushNotification"></activity>

        <activity
            android:name=".NearByHelperMapActivity"/>
        <activity
            android:name=".RequesterRouteActivity" />
        <activity
            android:name=".LocationMonitoringActivity"
            android:screenOrientation="portrait"></activity>

        <service android:name=".LocationMonitoringService" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

    </application>

</manifest>